#item-main {
  position: relative;
  width: calc(100% - 35px);
  height: 400px;
  background-color: #EEEEEE;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }

#images-dots {
  display: flex; }

.dot-on, .dot-off {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.5s ease;
  z-index: 2; }

.dot-on {
  background-color: #4169E1; }

.dot-off {
  background-color: rgba(33, 33, 33, 0.5); }

.item-img-open, .item-img-close {
  position: relative;
  padding-top: 15px;
  z-index: 1;
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94); }

.item-img-open {
  opacity: 0.2;
  background-color: rgba(0, 0, 0, 0.5); }

.item-img-close {
  opacity: 1; }

.img-on, .img-off {
  height: 225px;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: opacity 0.5s; }

.img-on {
  opacity: 1; }

.img-off {
  opacity: 0; }

.item-title-price-open, .item-title-price-close {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 700;
  background-color: #EEEEEE;
  transition: all 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94); }
  .item-title-price-open > h5, .item-title-price-close > h5 {
    font-size: 17.5px;
    margin: 0; }
  .item-title-price-open > h6, .item-title-price-close > h6 {
    font-size: 15px;
    margin: 0;
    color: #FF6D00; }

.item-title-price-close {
  padding: 0 20px 5px 20px;
  height: 30px;
  bottom: 114px;
  border-top: 1px solid transparent; }

.item-title-price-open {
  padding: 5px 20px 5px 20px;
  height: 45px;
  bottom: 189px;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.item-icon-open, .item-icon-close {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 25px;
  padding: 0 30px 0 30px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  background-color: #EEEEEE;
  transition: bottom 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94); }

.item-icon-close {
  bottom: 89px; }

.item-icon-open {
  bottom: 165px; }

.item-close, .item-open {
  cursor: pointer; }

.item-close {
  transform: rotate(180deg);
  transform-origin: 50% 50%; }

#open-info, #close-info {
  position: absolute;
  z-index: 1;
  padding: 10px 20px;
  height: 70px;
  width: 100%;
  background-color: #EEEEEE;
  transition: all 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94); }
  #open-info > p, #close-info > p {
    margin: 0;
    height: 100%;
    font-size: 12px; }

#close-info {
  top: 280px; }
  #close-info > p {
    color: #EEEEEE; }

#open-info {
  top: 235px; }
  #open-info > p {
    color: rgba(33, 33, 33, 0.5); }

.item-buttons {
  position: relative;
  z-index: 2;
  top: 60px;
  padding: 15px;
  width: 100%;
  background-color: #EEEEEE;
  display: flex;
  flex-wrap: nowrap; }
  .item-buttons button {
    height: 60px;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer; }
    .item-buttons button svg {
      width: 12.5px;
      height: 12.5px;
      margin: 2.5px 10px 0 0; }
  .item-buttons button:first-child:hover {
    background-color: #4169E1;
    border: 2px solid #4169E1; }
  .item-buttons button:first-child {
    background-color: #FF6D00;
    border: 2px solid #FF6D00;
    color: #EEEEEE;
    width: calc(65% - 4px);
    transition: all 0.25s ease; }
    .item-buttons button:first-child > svg path {
      fill: #EEEEEE; }
  .item-buttons button:last-child:hover {
    border: 2px solid #FF6D00;
    color: #FF6D00; }
    .item-buttons button:last-child:hover > svg path {
      fill: #FF6D00; }
  .item-buttons button:last-child {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(33, 33, 33, 0.5);
    margin-left: 4px;
    width: 35%;
    transition: all 0.25s ease; }
    .item-buttons button:last-child > svg path {
      transition: fill 0.25s ease;
      fill: rgba(33, 33, 33, 0.5); }

/*# sourceMappingURL=ShopItem.css.map */
