#main-header {
  background-color: #EEEEEE;
  color: #212121;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  z-index: 3; }

.logo-container {
  height: 45px;
  margin-left: 5px; }
  .logo-container img {
    height: 100%; }

.sub-nav-container {
  display: flex; }
  .sub-nav-container div {
    margin: 10px; }

.search, .cart {
  height: 20px; }
  .search img, .cart img {
    height: 100%; }

#burger-toggle {
  display: block;
  position: relative;
  top: -2;
  z-index: 3;
  user-select: none;
  width: 32px;
  height: 24px; }
  #burger-toggle input {
    display: block;
    width: 30px;
    height: 24px;
    border-radius: 2px;
    position: fixed;
    top: 15px;
    right: 4.69vw;
    cursor: pointer;
    opacity: 0;
    z-index: 4; }
    #burger-toggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(1px, -2px); }
    #burger-toggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2); }
    #burger-toggle input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(2px, -1px); }
  #burger-toggle span {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #212121;
    position: absolute;
    margin-bottom: 6px;
    z-index: 3;
    left: 4px;
    top: 1px;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.68, -1, 0.5, 1.55), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.33s ease-in-out; }
    #burger-toggle span:nth-last-child(1) {
      transform-origin: 0% 100%;
      top: 0.5px; }
    #burger-toggle span:nth-last-child(2) {
      top: 16.5px; }
    #burger-toggle span:nth-last-child(3) {
      transform-origin: 0% 0%;
      top: 8.5px; }

#open-main, #close-main, #open-sub, #close-sub {
  padding: 0;
  overflow: hidden;
  z-index: 2; }

#open-main, #close-main {
  position: fixed;
  transition: top 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94);
  width: 100%;
  height: 100%;
  background-color: rgba(189, 197, 200, 0.5); }
  #open-main li, #close-main li {
    background-color: #EEEEEE;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 25px;
    height: 55px;
    display: flex;
    align-items: center; }
  #open-main > li:first-child, #close-main > li:first-child {
    justify-content: space-between; }

#open-main {
  top: 49px; }

#close-main {
  top: -120vh; }

.menu-item {
  color: #212121;
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.5px;
  height: 20px; }

.icon-active {
  transform: rotate(180deg);
  transform-origin: 50% 50%; }

#open-sub, #close-sub {
  position: relative;
  transition: height 0.25s ease-in-out; }
  #open-sub > li, #close-sub > li {
    background-color: #FAFAFA;
    padding: 15px 40px; }

#open-sub {
  height: 110px; }

#close-sub {
  height: 0; }

/*# sourceMappingURL=NavBar.css.map */
