@import '../../guide.sass'


#main-header 
  background-color: $light-grey
  position: fixed
  top: 0
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  width: 100%
  height: 65px
  display: flex
  justify-content: space-between
  align-items: center
  padding: 15px 10px
  z-index: 3

.logo-container
    height: 45px
    margin-left: 5px

    img
        height: 100%

.sub-nav-container
    display: flex

    div
        margin: 10px

.search, .cart
    height: 20px
    cursor: pointer

    & > img
        height: 100%

.search
    display: flex
    align-items: center

// Search Bar

#open-search, #close-search
    transition: border 0.2s, width 0.2s
    background-color: $light-grey

#open-search
    margin-left: 5px
    height: 25px
    width: 120px
    border: 2px solid $black
    padding: 2.5px 5px
    font-size: 15px
    color: $black
    letter-spacing: 0.5px


    &:focus
        border: 2px solid $orange

#close-search
    margin-left: 0
    width: 0px
    border: 0px solid transparent

// Hamburger 

#burger-toggle
    display: block
    position: relative
    top: 0
    z-index: 3
    user-select: none
    width: 32px
    height: 25px

    input
        display: block
        width: 30px
        height: 25px
        border-radius: 2px
        position: absolute
        top: -5px
        right: -2px
        cursor: pointer
        opacity: 0
        z-index: 4

        &:checked ~ span 
            opacity: 1
            transform: rotate(45deg) translate(1px, -2px)
        
        &:checked ~ span:nth-last-child(3) 
            opacity: 0
            transform: rotate(0deg) scale(0.2, 0.2)
  
        &:checked ~ span:nth-last-child(2) 
            transform: rotate(-45deg) translate(2px, -1px)
  
    span
        display: block
        width: 24px
        height: 3px
        background-color: $black
        position: absolute
        margin-bottom: 6px
        z-index: 3
        left: 4px
        top: 1px
        transform-origin: 4px 0px
        transition: transform 0.5s cubic-bezier(0.68, -1, 0.5, 1.55), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.33s ease-in-out

        &:nth-last-child(1)
            transform-origin: 0% 100%
            top: 1px
    
        &:nth-last-child(2) 
            top: 17px
    
        &:nth-last-child(3) 
            transform-origin: 0% 0%
            top: 9px
    

// Main DropDown-Menu

#open-main, #close-main, #open-sub, #close-sub
    padding: 0
    overflow: hidden
    z-index: 2

#open-main, #close-main
    position: fixed
    transition: top 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94)
    width: 100%
    height: 100%
    background-color: rgba($grey, 0.5)

    & li
        background-color: $light-grey
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        padding: 15px 25px
        height: 55px
        display: flex
        align-items: center

    & > li:first-child
        justify-content: space-between

#open-main
    top: 49px

#close-main 
    top: -120vh


// Each Menu Item Styling

.menu-item
    color: $black
    margin: 0
    font-weight: 600
    font-size: 15px
    letter-spacing: 0.5px
    height: 20px
    
.icon-on, .icon-off
    cursor: pointer

.icon-on
    transform: rotate(180deg)
    transform-origin: 50% 50%


// Sub DropDown-Menu

#open-sub, #close-sub
    transition: height 0.2s

    & > li
        background-color: $white
        padding: 15px 40px

#open-sub
    height: 110px

#close-sub
    height: 0