@import '../../guide.sass'


#main-header 
  background-color: $light-grey
  color: $black
  position: fixed
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  top: 0
  width: 100%
  height: 65px
  display: flex
  justify-content: space-between
  align-items: center
  padding: 15px 10px
  z-index: 3

.logo-container
    height: 45px
    margin-left: 5px

    img
        height: 100%

.sub-nav-container
    display: flex

    div
        margin: 10px

.search, .cart
    height: 20px

    img
        height: 100%

// Hamburger 
#burger-toggle
    display: block
    position: relative
    top: -2
    z-index: 3
    user-select: none
    width: 32px
    height: 24px

    input
        display: block
        width: 30px
        height: 24px
        border-radius: 2px
        position: fixed
        top: 15px
        right: 4.69vw
        cursor: pointer
        opacity: 0
        z-index: 4

        &:checked ~ span 
            opacity: 1
            transform: rotate(45deg) translate(1px, -2px)
        
        &:checked ~ span:nth-last-child(3) 
            opacity: 0
            transform: rotate(0deg) scale(0.2, 0.2)
  
        &:checked ~ span:nth-last-child(2) 
            transform: rotate(-45deg) translate(2px, -1px)
  
    span
        display: block
        width: 24px
        height: 3px
        background-color: #272822
        position: absolute
        margin-bottom: 6px
        z-index: 3
        left: 4px
        top: 1px
        transform-origin: 4px 0px
        transition: transform 0.5s cubic-bezier(0.68, -1, 0.5, 1.55), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.33s ease-in-out

        &:nth-last-child(1)
            transform-origin: 0% 100%
            top: 0.5px
    
        &:nth-last-child(2) 
            top: 16.5px
    
        &:nth-last-child(3) 
            transform-origin: 0% 0%
            top: 8.5px
    
// Menu
#open, #close
    position: fixed
    z-index: 2
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($grey, 0.5)
    padding: 0
    transition: top 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94)
    overflow: hidden

    & > li
        background-color: $light-grey
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        padding: 15px 20px
        height: 55px
        display: flex
        align-items: center

    & > li:first-child
        justify-content: space-between

#open
    top: 49px

#close 
    top: -120vh

.menu-item
    color: $black
    margin: 0
    font-weight: 600
    letter-spacing: 0.5px
    height: 20px

.menu-icon
    height: 20px