// STYLING GUIDE //
    

// COLORS
$orange: #FF6D00
$grey: #BDC5C8
$light-grey: #EEEEEE
$black: #212121
$white: #FAFAFA


// FONTS
$open-sans: 'Open Sans Condensed', sans-serif
$roboto: 'Roboto', sans-serif


// BUTTONS
$active-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08)